<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvenuto</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container" style="width: 50%;">
                <div class="navbar-brand">
                    <img src="https://img.freepik.com/vettori-premium/logo-della-pizza-italiana-con-una-pizza-e-uno-chef-che-tiene-una-pizza_850580-18.jpg?semt=ais_hybrid"
                        class="card-img-top" style="width: 4rem;" alt="Logo Pizza">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pizza}" role="button">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servizi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contatti</a>
                        </li>
                        <!-- <li>
                            <form class="d-flex px-3" th.href="@/pizza/search/${name}(name=${pizza})" method="post" role="search">
                                <input class="form-control me-2 bg-white text-dark" type="search" placeholder="Cerca..."
                                    aria-label="Search">
                                <button class="btn btn-outline-light" type="submit">Cerca</button>
                            </form>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div th:fragment="list" class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col mx-auto" th:each="pizza : ${pizzas}" th:object="${pizza}" th:if="${pizzas.size() > 0}">
                    <div class="card shadow-sm" style="height: 450px;">
                        <img th:src="*{image}" width="100%" height="225px"
                            class="bd-placeholder-img card-img-top object-fit-cover border border-0"
                            alt="immagine della pizza">
                        <div class="card-body text-center">
                            <h3 class="card-title" th:text="*{name}" />
                            <p class="card-text" th:text="'Ingredienti: ' + *{description}" />
                            <h5 class="card-text" th:text="*{price} + '€'" />
                            <div class="d-flex justify-content-between align-items-end">
                                <div class="btn-group">
                                    <a role="button" class="btn btn-sm btn-outline-secondary"
                                        th:href="@{/pizza/{id}(id=${pizza.id})}">View</a>
                                    <a role="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Js /-->
</body>

</html>